metis4itm.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ROOT" >
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:sequence xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="gaz" default="3" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
1 -&gt; H, 2 -&gt; D , 3 -&gt; DT &amp; 4 -&gt; He
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="frhe0" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ratio of residual helium, other than alpha from fusion DT
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tauhemul" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
tau_He_star = tauhemul * taue; if = 0 , use the scaling law;
if &lt; 0 take into account recycling of neutral in the divertor :
 tau_He_star = tauhemul * taue + Recycling / (1 - Recycling) * tau_p
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-20"/>
<xs:maxInclusive value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="neasser" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 0 : zs.nbar = cons.nbar; if = 1 : control of density with reference cons.nbar,take into account confinment times;
 if = 2, as 1 + disruption safety
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="Recycling" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Recycling coefficient use jointly with neasser &gt; 0 and for recycling at target in two points model
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.999"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="natural" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, limit lower density to natural density or if = 2, impose natural density instead of nbar reference
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fnbar_nat" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to natural density scaling law
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nea_factor" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to edge scaling law for density:
if &gt; 0, ne_edge =  nea_factor * LCFS_denstity_scaling_law;
if &lt; 0,  ne_edge =  abs(nea_factor) * n_bar
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-0.7"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ftaup" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor multiplying taup
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fn0a" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor multiplying the core plasma source of neutral for limited plasma (allows to choose the fraction that goes directly in core plasma and in SOL)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fn0a_div" default="0.1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor multiplying the core plasma source of neutral for diverted plasma (allows to choose the fraction that goes directly in core plasma and in SOL)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ane" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
(central density / volume average density) choice  : 0 -&gt; nsat/nbar; 1 -&gt; flat; 2 -&gt; f(li);
 3 -&gt; nu_eff scaling law; 4 -&gt; value given ; 5 -&gt; proportionnal to Ti;
10 -&gt; C. Angioni formula 5 NF 2007 (depend on Greenwald fraction, NBI fuelling and Rgeo);
11 -&gt; Angioni 2007 formule 5 in H mode and new fit Lmode data base for L-mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="10"/>
<xs:enumeration value="11"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="vane" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if ane = 4, value of density peaking factor
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.5"/>
<xs:maxInclusive value="5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ne_shape" default="Auto" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
method use to compute density profile shape : 
Auto -&gt; depending of L or H mode; 
Hmode -&gt; force Hmode shape also in Lmode; 
Lmode -&gt; force Lmode shape also in Hmode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="Auto"/>
<xs:enumeration value="Lmode"/>
<xs:enumeration value="Hmode"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ne_free" default="3" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
number of degrees of freedom in density profile:
if = 3, central density, edge density and peaking factor;
if = 4,central density, edge density, peaking factor and pedestal density
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="neped_expo" default="-0.7" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
exponent in scaling law for pedestal density:
ne_ped = ne_a * (ne_a / ne_Gr)^neped_expo
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-2.5"/>
<xs:maxInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pix" default="0.7" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
position of maximum of pellet deposition profile
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="piw" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
width of pellet deposition profile (gaussian); if = 0, used NGS model to compute the shape of deposition
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pif" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction of fuelling due to pellet injection; if = 1, automatic detection of pellet injection
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="scaling" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
choice of scaling law : 0 = ITERL-96P(th) + ITERH-98P(y,2); 1 = OH; 2 = ITPA 2 terms; 3 -&gt; DS03;
 4 -&gt; fit of experimental value of Wdia; 5-&gt; scaling ITER EIV,Std; 6 -&gt; OH scaling in Tokamak Wesson; 7 = ITERH-98P(y,2)/2 L-mode + ITERH-98P(y,2) H-mode;
 8 =  user defined scaling; 9 =  J. Garcia PRL J_pol = 0; 10 = Sauter &amp; Martin in H-mode + quasi analytical in L-mode;
11 = Sauter &amp; Martin in H-mode + Elbeze EIV 2005 L-mode;
12 = same 11 with limitation on beta_N for ignited plasma with high radiative fraction
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
<xs:enumeration value="7"/>
<xs:enumeration value="8"/>
<xs:enumeration value="9"/>
<xs:enumeration value="10"/>
<xs:enumeration value="11"/>
<xs:enumeration value="12"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dilution" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 If set to 1, take into account the ions density dilution on plasma energy contents (W_new = (1 + ni/ne) * W_scaling);
 to be compatible with previous METIS version, set this key to 0
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tau_limitation" default="On" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if # Off, clamps the confinement time to scaling Neo-Alcator for low density
 (On = LOC + IOC, Saturate = LOC + SOC, useful for ramp up)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="On"/>
<xs:enumeration value="Off"/>
<xs:enumeration value="Saturate"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ploss_exp" default="with_prad" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
method used to compute ploss :
with_prad : radaitive power is subtracted from pin, including brem, cyclo and fraction (fprad)of line;
no_prad : ploss = pin;
max_power : ploss is the maximum of volume integrated totale source power (Qe + Qi) in fonction of radial postion
max(pel)+max(pion) :  ploss is the maximum of volume integrated electron source power Qe  + the maximum of volume integrated ion source power Qi
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="with_prad"/>
<xs:enumeration value="no_prad"/>
<xs:enumeration value="max_power"/>
<xs:enumeration value="max(pel)+max(pion)"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fprad" maxOccurs="1" minOccurs="1" default="0.333333">
<xs:annotation>
<xs:documentation>
fraction of Pline (core plasma) substracted from Pin to compute Ploss (Ploss = Pin - fprad * Pline)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="0.333333"/>
<xs:enumeration value="0.666667"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="HH_li" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if &gt; 0, li variation effect on plasma energy content W = (li/HH_li) ^ (2/3) * Wsc
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="HH_gas_puff" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if &gt; 0, reduction of confinement of energy with gas puff fuelling: W = (1 -tanh(HH_gas_puff .* P_ioniz ./ P_in)) * Wsc
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="l2hscaling" maxOccurs="1" minOccurs="1" default="0">
<xs:annotation>
<xs:documentation>
L -&gt; H  power threshold scaling law : 0 = LH99(1);  1 = LH2002 ; 2 = LH2002 + Zeff; 3 = YR Martin 2008;
 4 = NLM-7 Murari 2012; 5 = NLM-11 Murari 2012;6 =  Jpol change of signe in edge region (E. R. Solano rule)
 if &lt; 0, criterion base on plasma rotation (abs(l2hscaling) = value of Gamma_ExB / Gamma_ITG for transition);
if = 10, multimachine scaling law from Murami 2013 (BUEMS)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="-10"/>
<xs:enumeration value="-5"/>
<xs:enumeration value="-3"/>
<xs:enumeration value="-2"/>
<xs:enumeration value="-1.5"/>
<xs:enumeration value="-1"/>
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
<xs:enumeration value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="modeh" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
1-&gt; H-mode allowed , 0 -&gt; no H-mode transition allowed; 2 -&gt; force simulator to work in mode H 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="l2hmul" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
offset added to the threshold power for the transition L-&gt; H (MW)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="plhthr" default="pel+pion" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Power compared to scaling for L to H transition : Ploss as define for scaling law  (pel+pion- some prad) or only  two time ion contritubution (2*pion) or power conducted to LCFS (P_LCFS)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="pel+pion"/>
<xs:enumeration value="2*pion"/>
<xs:enumeration value="P_LCFS"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="l2hslope" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
slope of transition between tau_L and tau_H (related to l2hslope .* (Ploss - PL2H) / PL2H);
 if = 0, on/off transition; if &lt; 0 , decrease of confinement when density is close to Greenwald limit
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fpl2h_lim" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to L-&gt; H sacling powerthreshold when plasma in limited
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.5"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="pl2h_mass_charge" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1 , adds to P_L2H threshold the dependance on mass and charge of main ions
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="hysteresis" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Control of histeresis for the back transition H-&gt; L mode : P_{H-&gt;L} = hysteresis * P_{in} + (1 - hysteresis) * P_{lh,thr}
 ( P_{L-&gt;H} goes from input power to  power crossing the LCFS as defined with parameter plhthr)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ton_modeh" default="Inf" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if is defined, starting point for the phase in H mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-Inf"/>
<xs:maxInclusive value="Inf"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="toff_modeh" default="Inf" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if is defined, ending point for the phase in H mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-Inf"/>
<xs:maxInclusive value="Inf"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fpped" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if &gt; 0, pedestal pressure multiplier (pressure deduced from scaling law);
 if =0, same as 1 but no limitation due to MHD and experimental limit;
 if &lt; 0, stiff model is activate (in this case, pedestal pressure multiplier is abs(fpped)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-100"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="hmore_pped" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, pedestal pressure is modified as the total energy content by the reference hmore (amelration): pped_use = hmore * pped_predicted;
if = 2, pedestal pressure is modified as the total energy content by the reference hmore (amelioration), if hmore &lt; 1 but stays unchanged if hmore &gt;= 1
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fstiff" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
when stiff model is activate (fpped &lt; 0),abs(fstiff) give the temperature gradient in the core in eV per electron banana width; default value = 1;
 if fstiff&lt;0, use ftrap*rho_banana+(1-ftrap)*rho_larmor istead of rho_banana
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="usepped_scl" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, METIS uses tau_ped scaling law to compute Pped (does not work with stiff model);
if = 2, METIS used the min between standard rule (Pped = K (W_Hmode - W_Lmode) and scaling law prediction;
if = 3, used P_ped scaling incorporating prediction from MHD code for ITER and DEMO
if = 4, METIS used the min between standard rule (Pped = K (W_Hmode - W_Lmode) and scaling incorporating prediction from MHD code for ITER and DEMO
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="taurotmul" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor between energy confinement time and toroidal rotation momentum confinement time (tau_rotation = taurotmul * taue);
 if = 0, use ion heat confinement time
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fintrinsic" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to intrinsic rotation scaling.
if &gt; 0, use the  Rice scaling on pressure.
The constant in the scaling in not determined;
In METIS, value = 1 is quite optimistic, a more reasonable value is between 0.15-0.25
 if = 0,use the  Rice scaling on pressure and factor depending on collisionality computed from  J. C. Hillesheim et al, arxiv:1407.2121v1 physics.plasma-ph 8 Jul 2014 
if &lt; 0, use  Barnes &amp; Parra scaling on Ti
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="omega_shape" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
shape of cor rotation profile : if = 0, proportionnal to Ti; if = 1, given by scaling law from H. Weisen et al paper (NF 52 2012 p 042001)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="xiioxie" default="2" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ratio  Xii over Xie;
 if = 0 -&gt; compute from ITG/TEM stability diagram; 
 if &gt; 0, value of xii // xie; 
 if &lt; 0 , xii // xie is computed using the critical gradient model in which the stiffness parameter is given by xiioxie;
 in this case the theoretical value is 4.5
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="xiioxie_ped" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ratio  Xii over Xie for edge an pedestal;
 if = 0 -&gt; uses instead the value for the core plasma (xiioxie)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="kishape" default="3" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
shape of heat tranport cofficient Ki = C  ( 1 + kishape * x ^2); if = 0, Ki = C * BgB_shape and if &lt; 0 , Ki =  q^abs(kishape)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ki_expo" default="2" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if &gt; 0, exponent of Ki shape fonction;
otherwise (&lt;0) the shape is : Ki = C*(x-2/3*x^2+abs(ki_expo)/x/30+kishape*x^20);
 in this case ki_expo control the centre and kishape the edge;
the shape is computed to make a quite linear temperature profile in the gradient zone
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-3"/>
<xs:maxInclusive value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="xieorkie" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, instead of given Ki shape, Xi shape is fixed (Ki ~ Ne * Xi)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="grad_ped" default="3" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
method to compute the gradient of pression at the top of pedestal, of the side of the core plasma :
if = 0, use the method that don't compute the discontinuity in gradient (all previous version of METIS);
if = 1,  take into account the discontinuity in gradient;
 if = 2, improved integration method for equation is used (take also into account the discontinuity in gradient);
 if = 3, improved integration method for equation is used (take also into account the discontinuity in gradient) and no limitation in flux;
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="qdds" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
q value for sawteeth trigger (time averaged effect); if = 0 , no effect; if &lt; 0 , real sawtooth, trigger when q0 &lt;= abs(qdds) 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-2"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="w1" default="0.1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
width of null magnetic shear zone in unit of psistar(q=1) [0.1,1] {0.5}
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="epsq" default="0.01" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
slop of q inside mixing radius 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ddsmode" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Sawthooth model : 0 = simple clamping,  1 = Porcelli , 2 = Kadomtsev, 3 = partial Kadomtsev
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="kidds" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
transport multiplicator in q=1 flux surface
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="1000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="peeling" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Elms type : if = 0, ballooning limit only ; if = 1, ballooning and peeling limits; if = 2 , peeling limit only (use as peeling limit the proxy &lt;j&gt;_top_pedestal &gt; (Ip / Splasma) )
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dwow_elm" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if &gt;0, fraction of pedestal energy losses during one elm (trigger when pped exceeds ppedmax value);
if = 0,  no elm (default mode);
 if = 1, use MHD limit for threshold and energy scaling for contents after crash;
 if &lt; 0, used scaling law f(nustar) * abs(dwow_elm) 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tau_elm_factor" default="10" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor between turbulent tranport and neoclassical transport in pedestal;
i.e. multiplicator of energy confinement time use to obtain effective confinement time in H-mode whitout elm effect 
(taue_etb = tau_elm_factor * taue)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="1000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="runaway" default="4" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
runaway effect of effective plasma resistivity: 0-&gt; none ; 1 -&gt; critical field limit; 2 -&gt; model for runaway with LH;
 3 -&gt; include model for LH and delay for runaway acceleration;
4 -&gt; as 3 but with used of profiles informations
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="modeboot" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Iboot scaling : if = 0, scaling law G. T. HOANG; if  = 1, Sauter law; if = 2, Sauter law + asymetric current
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="bootmul" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to bootstrap current (used only for sensitivity study)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ffit_ped" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to gradients computation in pedestal as in METIS pedestal width is only one point 
if = 0 use standart 3 points derivative (used only for sensitivity study)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fspot" default="0.15" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to bootstrap like current due to fast alpha particle (0.05 - 0.15; must be computed with the help of SPOT); if &lt; 0, use model implementation before december 2013 that have a missing dependance with geometry
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="vloop" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
computing mode : 0-&gt; Ip  reference given ; 1 -&gt; vloop = 0 as reference, Ip free ; 2 -&gt; vloop = Cte, Ip free ;
 3 -&gt; PLH is computed to follow Ip reference @ vloop = 0;  4 -&gt; poloidal edge flux given by flux reference
; 5-&gt; hybrid boundary condition for the coupling with FREEBIE;
 6 -&gt; P_NBI is computed to follow Ip reference @ vloop = 0 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="vref" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
reference value for vloop or threshold value of vloop under which the control on vloop is switched on
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-3"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tswitch" default="Inf" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
time from witch the current diffusion boundary condition become the edge flux value (or vloop) instead of plasma current (s)
 (used only with option.vloop &gt; 0, inactive in evolution mode)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="Inf"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="li" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
value of internal inductance at the first time (used to compute initial current profile)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="breakdown" default="0.03" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
electric field at the breakdown time in unit of Dreicer electric field if &gt; 0 or
 in Volt per turn if &lt; 0 (used abs value, convert internally into electric field);
 tune the shape of runaway source and the value of Vloop at the first time step
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-100"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="berror" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
residual magnetic at breakdown time (T) ; if = 0, computation taue_breakdown is desctivate
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="L_eddy" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
characteristic value of passive structure inductance that can carry current during breakdown (H);
if = 0, use typical value taking into account major radius of the plasma
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="R_eddy" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
characteristic value of passive structure  resistor that can carry current during breakdown (Ohm);
if = 0, use typical value taking into account major radius of the plasma
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="C_eddy" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
part of eddy current that is remove from plasma current reference (I_p = I_p_ref - C_eddy * I_eddy)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="B_eddy" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Coefficient in front of formula giving non confinent magnetic field created by eddy current (B_RorZ = B_eddy * mu0 * I_eddy / R / pi)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="PSI_eddy" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Coefficient in front of formula that gives the pertubation on poloidal flux reference
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="I_eddy" maxOccurs="1" minOccurs="1" default="1">
<xs:annotation>
<xs:documentation>
Initial eddy current: if =0, set inital eddy current to 0; if =1, take the max of breakdown voltage devide by R_eddy and initial plasma current reference
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="p_prefill" default="0.001" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
prefill pressure (Pa, 1 Torr = 133.3 Pa)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="temp_vac" default="300" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
temperature of vacuum vessel and cold neutral (K)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1.8"/>
<xs:maxInclusive value="3000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="VV_volume" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
vacuum vessel volume; if = 0, used the maximum plasma volume (m^3)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="initiation_only" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, stay in initiation mode for the whole simulation
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="zeff" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Zeff :0-&gt; reference &amp; flat , 1 -&gt; average given + profile effect, 2,3 &amp; 4  -&gt; scaling + profile effect for wall/divertor in C,Be or W;
 5 -&gt; Tore Supra scaling and  6-&gt; Matthews scaling if not used for radiative power; 7 -&gt; universal scaling law; 8 -&gt; universal scaling law +  profile effect
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
<xs:enumeration value="6"/>
<xs:enumeration value="7"/>
<xs:enumeration value="8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="faccu" default="0.5" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor of accumulation for heavy impurity in the core plasma: 1) with W_effect = 0: 
 works with zeff key values that allow profile effect (1,2,3,4 &amp; 8);
 n_heavy = faccu * n_accumulation(x) + (1 - faccu) * r .* n_e(x);
 if = 0, no accumulation;
 if &gt; 0, use d neoclassical simplified formula depending on density peaking and temperature peaking;
 if &lt; 0, use d neoclassical simplified formula depending only on density peaking;
 2) with W_effect = 1: factor in exponential exp(acc_inte * faccu);
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="heat_acc" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor for the plasma heating decontamination (works with W_effect = 1 only): if &gt; 0, electron heating aims to be decontaminated and ion heating aims to accumulate impurity in core plamsa; reverse sign adds inverse effect.
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rot_acc" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor for the plasma rotation decontamination (works with W_effect = 1 only): if &gt; 0, rotation aims the plasma to be decontaminated;
otherwise if &lt; 0,rotation aims the plasma to be contaminated;
 if = 0, no effect of rotation on impurity accumulation.
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fne_acc" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
with W_effect = 1: exponent applied to the normalized electron density for the shape of tungsten densisty;
n_W(x) = (C(SOL,divertor)+ cw_offset * ne_edge)  * (n_e(x)/n_e(1)^fne_acc *  exp(acc_inte * faccu)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="gradient_Wacc" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to gradients computation (2 points formula) in pedestal; used in  W accumulation formula (value must be the same as ffit_ped)
if = 0 use standart 3 points derivative
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="W_effect" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, take into account specific effect of Tungsten (as variation of the ionisation state in plasma)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="zmax" default="8" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
number of electric charges of main impurity, use to compute radiative power
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="3"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="zimp" default="6" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
number of electric charges of light impurity
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="3"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rimp" default="0.1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ratio between density of heavy impurity (n_zmax) and density of light impurity (n_zimp)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="density_model" default="minconv" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
model used to identify density transport coefficients (post processing; have no impact on density profile)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="default"/>
<xs:enumeration value="control"/>
<xs:enumeration value="curvature"/>
<xs:enumeration value="minconv"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="frad" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 Pline multiplier
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fte_edge" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor apllied to LCFS temperature (for studies of egde radiation and poloidal flux comsumption)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="matthews" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if =1, Pline is normalized on Matthews scaling law;
if =2, Pline is normalized on Rapp scaling law;
if = 0, Pline is given by Post formulation (coronal equilibrium) for the core plasma and difference between Matthews scaling and Post formulation is used for SOL + Divertor radiative power;
if == -1, same as 0 but used improved computation for radiative mantle
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="-1"/>
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="z_prad" default="zmax" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Charge used in scaling formula: zmax (original version), zimp or Z_Stangeby = formula define in Stangeby book
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="zmax"/>
<xs:enumeration value="zimp"/>
<xs:enumeration value="Stangeby"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="gaunt" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 0, use fixed Gaunt factor (1.1027) or if = 1, compute Gaunt factor depending on Te and Zi for bremsstrahlung
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="noncoronal" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, use a simplified model for non coronal radative power computation;
if &gt; 1 , use a simplified model for non coronal radative power computation in divertor only: 2-&gt; full effect; 3 -&gt; half effect; 4 -&gt; 0.2 * full effect ; 5 -&gt; 0.1 * full effect
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rw" default="0.7" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
edge reflection coefficient of the cyclotron radiation; if &lt; 0, use LATF model instead of Albajar scaling 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="configuration" default="3" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
0 -&gt; poloidal limiter in L and H mode; 1 - &gt; toroidal limiter in L and H mode;
 2-&gt; poloidal limiter or divertor depending on LCFS shape (X point automatic detection); 3-&gt;   toroidal limiter  or divertor depending on LCFS shape (X point automatic detection);
 4 -&gt; divertor in both L and H mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="lambda_scale" maxOccurs="1" minOccurs="1" default="3">
<xs:annotation>
<xs:documentation>
scaling used for SOL width : if = 0, uses fraction of a or R (see sol_lscale); if = 1, uses Goldston model;
 if = 2,  uses Goldston model in Hmode diverted plasma, otherwise uses given width;
 if = 3,  uses Goldston model in Hmode diverted plasma, otherwise uses  Halpern scaling law
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="factor_scale" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
multiplicator applied to the SOL width when it is defined by a scaling law, for H mode only (Dsol_Hmode = factor_scale * Goldston scaling)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sol_lscale" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
scaling parameter of folding length in the SOL :
 0 = a/100 (previous metis version);
 if &gt; 0, scale as a * sol_lscale (typical value 0.01);
 if &lt; 0 scale as R0 * sol_lscale (typical value 0.003)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-0.1"/>
<xs:maxInclusive value="0.1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="eioniz" default="25" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
averaged energy per ionisation; 
if = 0 , used tabulated value dependant of Te and ne
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="de" default="0.5" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
secondary electron emission coefficient
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="alpha_e" default="0.82" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to parallel maximum flux in the kinetic effect correction formula
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.15"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fnesol" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor to compute average density in SOL along magnetic fielline:
(use for SOL radiative power computation)
ne_sol = (1 -fnesol) * ne_LCFS + fnesol * ne_target
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sol_model" default="scaling" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
model used to compute egde (LCFS) values
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="scaling"/>
<xs:enumeration value="2_points"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sol_rad" default="coupled" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = coupled, the radiative power in SOL and core plasma are coupled (i.e. depend on frad and  scaling law constraint SOL and ocre radiation);
if = decoupled, the radiative power in SOL/divertor are separately computed (must be used with 2-points model)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="coupled"/>
<xs:enumeration value="decoupled"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="lcx" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
connexion length multiplicator to take into account X point effect (q -&gt; Inf)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="20"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fpower" default="0.6" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction of power that goes to the target
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fR_target" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor that gives the target radius as R_target = fR_target * R0
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.5"/>
<xs:maxInclusive value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fcond" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction of conductive // power versus convective+conductive;
if &gt; 0, without kinetic correction if &lt; 0, with kinetic correction
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fmom" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fmom * (1 + Tiu/Teu);
 fmom = factor to take into account momentum loss by ion (friction on neutral, ...); 
Tiu = LCFS Ti; Teu = LCFS Te;
if fmom = 0, uses the simple model base on the balance between charge exchange and ionisation rate at the target
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="mach_corr" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, take into account possible mach number &gt; 1 near the target
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="yield_model" default="Javev" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
model used to compute sputtering yields :
fit = fit of DIVIMP simulation;
Javev = model from Janev paper;
Matsunami = model from Matsunami report
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="fit"/>
<xs:enumeration value="Javev"/>
<xs:enumeration value="Matsunami"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="ftwleak" default="0.5" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
choose value used to compute W leakage : Tleak=(abs(ftwleak)*Zw(Te_LCFS)+(1-abs(ftwleak))*Zw(Te_plate))*sqrt(ne*S);
if &gt; 0, fw_leak = exp(-(Tleak /Tplate)^2);
 if &lt; 0, fw_leak = fit_DIVIMP(Tleak /Tplate).
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-1"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="cw_factor" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
abs(cw_factor) = factor applied to the source of tungsten used to compute tungsten density profile in core plasma;
if &lt; 0 uses a simple prompt deposition model
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="cw_offset" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
tungsten concentration due to others sources than divertor targets, expressed in concentration relative to electron density (&lt;nw_rersidual&gt; / &lt;n_e&gt;
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.01"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fzmax_div" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction (in percent) of radiative impurity (zmax) in divertor; control the radiative fraction in divertor;
if &gt; 0, the minimal temperature in the integral is 0, as in original model;
 if &lt; 0 then the fraction is abs(fzmax_div) and the minimal temperature in integral is te_lim
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-100"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="carbonblow" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Carbon density enhancement in divertor due to sputering:
if&gt; 0, the density of carbon in divertor is increase proportionnaly to physical sputtering * carbonblow ;
if &lt;0 the density of carbon in divertor is increase proportionnaly to total sputtering * abs(carbonblow)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-3"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="angle_ece" maxOccurs="1" minOccurs="1" default="90">
<xs:annotation>
<xs:documentation>
ECRH effectif deposition angle : 0 -&gt; LFS, 90 -&gt; center, 180 -&gt; HFS
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="90"/>
<xs:enumeration value="180"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="synergie" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
synergy LH &amp; ECCD multiplicator  (1 =  no  synergy, 0 = auto)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sens" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ECCD current drive orientation : -1 -&gt;  counter-current ; 0 -&gt; normal (no current) ; 1 -&gt; co-current (same as IP)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="-1"/>
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="eccdmul" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to ECRH current drive efficiency
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="angle_nbi" default="90" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
NBI beam angle  (&lt;0 -&gt; counter-current , 0 = normal, &gt;0 -&gt; co-current);
 used to indicate the fraction of power injected perpendiculary (cos(angle_nbi)) and not perpendiculary (sin(angle_nbi))
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-90"/>
<xs:maxInclusive value="90"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rtang" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
tangent radius of neutral beam if = 0, used angle_nbi to compute Rtang (m)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="zext" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
vertical shift at the center of the plasma of the neutral beam (normalized radius)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="drs1" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
half width of neutral beam in toroidal direction express in variation of tangential radius in unit of minor radius;
if = 0, use default METIS value (1/6)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.25"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dzs1" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
half width of neutral beam in vertical direction express in variation Zext;
if = 0, use default METIS value (0.05)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.25"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="einj" default="1e+06" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
NBI beam energy (eV)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="10000"/>
<xs:maxInclusive value="1e+07"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nbicdmul" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to NBI current drive efficiency
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="e_shielding" default="Lin-Liu" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
current shielding factor model :
 Lin-Liu (Y.R Lin-Liu &amp; F. L. Hilton (Physics of Plasmas 4 (11) 1997)
 Honda-Sauter (collisionality depedence, M. Honda et al NF 52 (2012) p 023021-)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="Lin-Liu"/>
<xs:enumeration value="Honda-Sauter"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="cur_nbi_time" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Choose temporal evolution of I_NBICD:
if = 0, same behaviour than PNBI reference power;
if = 1; same behaviour than thermal PNBI_th;
intermediate value gives behaviour proportionnal to cur_nbi_time * PNBI_th + (1-cur_nbi_time) * PNBI (reference);
Possibly unprecise in evolution mode (inside Simulink/Kepler): must be set to 0 in this case
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nb_nbi" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
number of NBI injector used in METIS
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="angle_nbi2" default="90" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
NBI beam angle  (&lt;0 -&gt; counter-current , 0 = normal, &gt;0 -&gt; co-current);
 used to indicate the fraction of power injected perpendiculary (cos(angle_nbi)) and not perpendiculary (sin(angle_nbi))
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-90"/>
<xs:maxInclusive value="90"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rtang2" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
tangent radius of neutral beam if = 0, used angle_nbi to compute Rtang (m)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="zext2" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
vertical shift at the center of the plasma of the neutral beam (normalized radius)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="drs2" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
half width of neutral beam in toroidal direction express in variation of tangential radius in unit of minor radius;
if = 0, use default METIS value (1/6)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.25"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dzs2" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
half width of neutral beam in vertical direction express in variation Zext;
if = 0, use default METIS value (0.05)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.25"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="einj2" default="1e+06" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
NBI beam energy (eV)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="10000"/>
<xs:maxInclusive value="1e+07"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nbicdmul2" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to NBI current drive efficiency
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="lhmode" maxOccurs="1" minOccurs="1" default="2">
<xs:annotation>
<xs:documentation>
choice of etaLH: 0 -&gt; Fisch like law if  wlh given orITER basis (a*Te + saturation), 1 -&gt; automatic (fit of vloop),
 2 -&gt; fixed @ xlh; 3 -&gt; Goniche scaling law; 4 -&gt; simulTS scaling; 5 -&gt; instead decribed LHCD, this is use to describe a second ECCD system
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
<xs:enumeration value="4"/>
<xs:enumeration value="5"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="upshiftmode" default="newmodel" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
upshift simple model for LH absorbtion; if = "newmodel", then use the new formulation taking into accoutn ALOHA/C3PO/LUKE  2012/2013 results
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="newmodel"/>
<xs:enumeration value="linear"/>
<xs:enumeration value="1/q"/>
<xs:enumeration value="Bpol"/>
<xs:enumeration value="x^2"/>
<xs:enumeration value="sqrt(x)"/>
<xs:enumeration value="null"/>
<xs:enumeration value="step@edge"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fupshift" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
multiplier applied to the upshift
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="etalh" default="0.8" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
value of etaLH if lhmode = 2;
otherwise launcher directivity defined as the fraction of total LH power in the co current peak 
(or eccdmul2 + sign of current source, if lhmode = 5)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-3e+19"/>
<xs:maxInclusive value="3e+19"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="npar0" default="2" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
parallel refractive index of LH antenna
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="freqlh" default="3.7" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
Lower Hybrid freqnecy (GHz)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="wlh" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 0, LH source profile is computed with xlh et dlh; else wlh is the width of LH antenna active part;
 the source profile, in this case, is computed with an simple model;
 if lhmode = 5 , must be set to 0
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="xlh" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
position of the maximum of LH current profil (or xece2 if lhmode = 5)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.8"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="dlh" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
width of the maximum of LH current profile; (for Tore Supra, if = 0, use of XDUR profile; or width of ecrh deposition profile if  lhmode = 5)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="0.7"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="npar_neg" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
N// of negative pic in the spectrum at the launcher; if = 0, used npar_neg = -npar0
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="0"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="angle_ece2" maxOccurs="1" minOccurs="1" default="90">
<xs:annotation>
<xs:documentation>
ECRH effectif deposition angle for the second launcher when lhmode = 5 : 0 -&gt; LFS, 90 -&gt; center, 180 -&gt; HFS
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="90"/>
<xs:enumeration value="180"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fwcd" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ICRH heating scheme : -1 -&gt; counter current FWCD; 0 -&gt; minority; 1 -&gt; FWCD mode; 2 -&gt; FW mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="-1"/>
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="mino" default="H" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
minority species for ICRH scheme
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="H"/>
<xs:enumeration value="He3"/>
<xs:enumeration value="He4"/>
<xs:enumeration value="T"/>
<xs:enumeration value="D"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="cmin" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction of the first minority species (nX/nD or nX/n_main if no deuterium), 0 = no suprathermal ions
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nphi" default="25" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
main toroidal number of ICRH launchers (n_phi ~ (c*R*n_par) / (2*pi*freq) with assumption K_phi ~ K_par)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="freq" default="57" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
ICRH frequency in MHz 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="20"/>
<xs:maxInclusive value="200"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="icrh_width" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
width factor for ICRH power deposition profile
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.1"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="fact_mino" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor applied to formula giving fraction of minority ions accelerated by ICRH wave;
if = 0, used default value depending on species
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="sitb" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, allow itb with null or negative magnetic shear; if = 2 , same  as 1  + rotation effect on itb;
 if = 3, same as 2 + MHD rational q effect
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="itb_sensitivity" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
sensitivity for the creation of the barrier [1]
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="itb_slope_max" default="2" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
maximum slope of the barrier [2]
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tae" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, take into account TAE effect in alpha fusion power losses 
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="alpha_channeling" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
factor of enhancement of ion heating due to alpha channeling: 0-&gt; no effect; 1-&gt; all power go on ions
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="smhd" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
threshold for MHD, triggers above the beta_N (in percent) limit, great value = no MHD, 0= threshold put at 4*li, if &lt; 0, threshold put at abs(smhd)*li
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="-10"/>
<xs:maxInclusive value="100"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tmhd" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
first time MHD allowed (s)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="Inf"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="rip" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if 1 , take in account the ripple in Tore Supra
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="signe" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
sign of toroidal field (= sign(Bphi . Iplamsa) )
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="1"/>
<xs:enumeration value="-1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="laochange" maxOccurs="1" minOccurs="1" default="1">
<xs:annotation>
<xs:documentation>
if = 1, flux coordinate (rmx) and Lao coordinate are internaly separate and
  coordinate transformations are turn on (that increase the current diffusion precision)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="morphing" default="5" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
exponent of morphing curve for the matching of separatrix
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="mode_expo_inte" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if = 1, used exponential integrator in place of Crank-Nicholson to solve poloidal flux diffusion equation
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="cronos_regul" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
method used to compute q(0) : if = 0, use simple extrapolation (metis default) or if = 1, use analytic formula (cronos default);
if = 2, average of both formula
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="equi_ppar" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
input pressure for Grad Shafranov equation:
0 = perpendicular or isotropic pressure;
1 = parallel pressure;
2 = total pressure;
3 = parallel pressure + rotational energy
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
<xs:enumeration value="2"/>
<xs:enumeration value="3"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="impur_rot" default="imp" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
choice of impurity for rotation data output : 
 imp = light impurity (charge zimp);
 max = impurity for radiation (charge zmax)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="imp"/>
<xs:enumeration value="max"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="carnot" default="0.42" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
thermal power to electricity power conversion efficiency
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="mul_blanket" default="1.2" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fusion power multiplication factor
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0.5"/>
<xs:maxInclusive value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="aux" default="0.05" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
fraction of electric power used by auxiliary systeme without additionnal heating sources
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="effinj" default="0.7" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
conversion efficiency of additionnal heating sources
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="available_flux" default="Inf" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
available poloidal flux provided by CS and PF coils (Wb)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:double">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="Inf"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="machine" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
name of the Device is default is not correct
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="shot" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
shot number
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="999999"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="reference_parameters" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
file name that contains parameters that will overwrite user defined parameters (if empty, it is not used)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="dwdt_method" default="implicit" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
in evolution mode (one time) : method used to compute the time derivative of energy:
 implicit = same method than in full shot simulation;
 explicit = explicit polynomial filtered method; 
none = dwdt is set to 0;
 v4.2 = explicit method used in previous version of METIS;
 in all mode: working_point = method to find the steady state (all d/dt = 0 except dpsi/dt)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="implicit"/>
<xs:enumeration value="explicit"/>
<xs:enumeration value="none"/>
<xs:enumeration value="v4.2"/>
<xs:enumeration value="working_point"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="nbmax" default="31" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
maximum number of convergence loop
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="31"/>
<xs:maxInclusive value="1000"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="tol0d" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
tolerance on relative error to stop the convergence loop ; if = 0 use default values : 1e-2 for fast mode, 1e-3 for full run and evolution mode
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="0"/>
<xs:maxInclusive value="1.000000e-01"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="init_output_cpo" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, on init call, initialise output CPO (reset and write the first time slice)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="restart" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if empty, nor restart file save, otherwise after each call, the restart file is saved
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="coreprof" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coreprof cpo
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coretransp" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coretransp cpo
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_lhcd" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_lhcd cpo (coresource occurrence 1)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_eccd" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_eccd cpo (coresource occurrence 2)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_icrh" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_icrh cpo (coresource occurrence 5)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_nbicd" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_nbicd cpo (coresource occurrence 6)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_fusion" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_fusion cpo (coresource occurrence 7)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coreneutrals" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_neutral cpo (coreneutrals + coresource occurrence 8)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_radiation" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_radiation cpo (coresource occurrence 3)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_cyclotron" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_cyclotron cpo (coresource occurrence 4)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="neoclassic" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write neoclassic cpo (neoclassic + coresource occurrence 9)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="coresource_full" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write coresource_full cpo (coresource occurrence 10)
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="equilibrium" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
if=1, write equilibrium cpo
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="grid_equi" default="0" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
mesh grid used for the equilibrum 2 D profile :\n  if = 0, 2D grid is in (psi,theta);\n  if = 1, 2D grid is a Delaunay grid
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="equi_extrap" default="1" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
method for extrapolation of Psi oustside the LCFS: if = 1, smooth fields but accuracy decrease inside LCFS; if = 0, surface current at LCFS but better accuracy inside LCFS
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:enumeration value="0"/>
<xs:enumeration value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
<xs:element name="scenario_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="coreprof_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="coretransp_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="coreneutrals_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="neoclassic_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="equilibrium_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="coresources_occurrence" type="string" default="" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
 output cpo occurrence; if empty, use default occurence (0)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="COCOS" default="13" maxOccurs="1" minOccurs="1">
<xs:annotation>
<xs:documentation>
choice for the output COCOS
</xs:documentation>
</xs:annotation>
<xs:simpleType>
<xs:restriction base="xs:integer">
<xs:minInclusive value="1"/>
<xs:maxInclusive value="18"/>
</xs:restriction>
</xs:simpleType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
